Tercero/as/pr-ctica-grupal-ash-ketchum/
Tercero/bda/practicas/trabajo/
Primero/ib
Primero/pro2/pedro
Primero/pro2/aida
Tercero/isd/*
Primero/te
MDs/apuntes/Apuntes-Obsidian-main
MDs/.obsidian
*.out
*.mli
