tercero/as/pr-ctica-grupal-ash-ketchum/
tercero/bda/practicas/trabajo/
primero/ib
primero/pro2/pedro
primero/pro2/aida
tercero/isd
primero/te
mds/apuntes/Apuntes-Obsidian-main
mds/.obsidian
*.out
*.mli

tercero/lsi
cuarto/fd/practicas
tercero/lsi/practicasssh/ipycontraseña.md
cuarto/vvs/spring-petclinic
